@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: "Poppins", sans-serif
}
.container{
    padding: 40px 100px;
}


.row{
    @apply flex flex-wrap p-8 
}


.active{
    color:rgb(57, 57, 245);
}

.btn[disabled]{
   @apply opacity-40
}


.Btn{
    @apply opacity-0 
    transition-opacity
}
.product:hover .Btn{
    @apply opacity-100
}
